* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #eeeeee;
}

header {
    border-bottom: 1px solid #ccc;
    padding: 1rem 2rem;
    color: #b06565;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#search-container {
    display: flex; 
    align-items: center;
    gap: 1rem;
}

.bi-search {
    color: #000;
}

#search-input {
    background-color: #525356;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 10px;
    color: #ddd;
    width: 400px;
}

#search-input::placeholder {
    color: #ddd;
}

#export-notes {
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.4s all linear;
}

#export-notes:hover {
    background-color: #fff;
    color: #333;
}

#add-note-container {
    display: flex;
    width: 400px;
    margin: 1rem auto 0;
    gap: 1rem;
}

#add-note-container input,
#add-note-container button {
    padding: 10px;
    border-radius: 5px;
}

#add-note-container input {
    flex: 1;
    border: none;
    background-color: transparent;
    border: 1px solid #525356;
    color: #fff;
}

#add-note-container button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
}

#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    padding: 2rem;
    gap: 2rem;
}

.note {
    min-height: 200px;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #8a8a8a;
    border-radius: 10px;
    color: #fff;
    position: relative;
}   

.note textarea {
    background-color: transparent;
    resize: none;
    color: #fff;
    border: none;
    height: 100%;
    outline: none;
}

.note .bi-pin {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    background-color: #b06565;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.note:hover > i {
    opacity: 1;
}

.note .bi-x-lg,
.note .bi-file-earmark-plus {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9rem;
    padding: 5px;
    transition: .3s all linear;
    color: #681111;
    cursor: pointer;
    opacity: .8;
}

.note .bi-file-earmark-plus{
    top: 40px;
}

.note .bi-x-lg:hover,
.note .bi-file-earmark-plus:hover {
    color: #fff;
}

.note.fixed {
    background-color: #4e4e4e;
}

@media (max-width: 450px) {
    header {
         flex-direction: column;
         gap: 1rem;
         width: 100%;
    }

    #search-container {
        width: 100%;
    }

    #add-note-container {
        width: 100%;
        padding: 0 2rem;
    }

    #notes-container {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}